*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --color-pink: #BB99DD;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/*Containers*/

#container-master{
    padding-top: 202px;
    margin-bottom: 202px;
}

#profile{
    max-width: 588px;
    width: 100%;
    margin: 0 auto;
    
}

/*Fotos*/

#imag{
    width: 204px;
    display: flex;
    margin: 0 auto;
    
    padding: 4px ;
    background-color: #fff;
    border-radius: 50%; 
    border: var(--color-pink) solid 2px;
}

#icons{
    text-align: center;
    padding-top: 68px;
    word-spacing: 29px;
}

/*Textos e links*/

p{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 33px;
    font-weight: 300;

    color: var(--color-pink);
}

ul{
    list-style: none
}

ul, li, a{
    justify-content: center;
    align-items: center;
    width: 366px;
    margin: 0 auto;
    text-align: center;
}

a{
    text-decoration: none;
    color: var(--color-pink);
    text-align: center;
    justify-content: center;
}



li{
    border: var(--color-pink) solid 2px;
    border-radius: 4px;
    width: 326px;
    height: 49px;
    padding-top: 12px;
    margin-bottom: 16px;
}

/*Footer*/

footer{
    text-align: center;
    padding: 68px;
}

@media(max-width: 820px){
    #container-master{
        padding-top: 120px;
        margin-bottom: 155px;
    }
}

